In [2]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

vibr = pd.read_csv(body)
vibr.head()

,ID,Year_of_Birth,Education_Level,Marital_Status,Disposable_Income,No_of_Kids_in_home,No_of_Teen_in_home,Date_Customer,Recency,Discounted_Purchases,...,Amount_on_SweetProducts,Amount_on_GoldProds,WebVisitsMonth,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Cmp1Accepted,Cmp2Accepted,Any_Complain,Response
0,ID_4A9AR6FQ,1955,Graduation,Divorced,77504.4,1,1,22-06-2014,56,2,...,6,20,3,0,0,0,0,0,0,0
1,ID_X28T3VEK,1958,Graduation,Together,56784.0,0,1,01-08-2013,17,6,...,15,19,6,0,0,0,0,0,0,0
2,ID_AWXARH57,1962,Graduation,Single,103714.8,0,0,21-11-2013,17,0,...,18,37,2,0,0,0,1,0,0,1
3,ID_FQVZHE81,1979,2n Cycle,Single,46311.6,1,0,13-09-2013,49,3,...,24,24,8,0,0,0,0,0,0,0
4,ID_QVLWGPRN,1959,Graduation,Married,87486.0,0,0,21-01-2014,59,1,...,165,203,1,0,0,0,1,0,0,0

# Trying to gain insight...

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
vibr.head(5)

,ID,Year_of_Birth,Education_Level,Marital_Status,Disposable_Income,No_of_Kids_in_home,No_of_Teen_in_home,Date_Customer,Recency,Discounted_Purchases,WebPurchases,CatalogPurchases,StorePurchases,Amount_on_Wines,Amount_on_Fruits,Amount_on_MeatProducts,Amount_on_FishProducts,Amount_on_SweetProducts,Amount_on_GoldProds,WebVisitsMonth,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Cmp1Accepted,Cmp2Accepted,Any_Complain,Response
0,ID_4A9AR6FQ,1955,Graduation,Divorced,77504.4,1,1,22-06-2014,56,2,1,1,4,71,3,16,0,6,20,3,0,0,0,0,0,0,0
1,ID_X28T3VEK,1958,Graduation,Together,56784.0,0,1,01-08-2013,17,6,5,1,8,205,22,111,50,15,19,6,0,0,0,0,0,0,0
2,ID_AWXARH57,1962,Graduation,Single,103714.8,0,0,21-11-2013,17,0,7,4,7,469,31,873,29,18,37,2,0,0,0,1,0,0,1
3,ID_FQVZHE81,1979,2n Cycle,Single,46311.6,1,0,13-09-2013,49,3,4,1,3,56,15,49,17,24,24,8,0,0,0,0,0,0,0
4,ID_QVLWGPRN,1959,Graduation,Married,87486.0,0,0,21-01-2014,59,1,3,7,9,412,117,445,181,165,203,1,0,0,0,1,0,0,0

In [5]:
vibr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1568 entries, 0 to 1567
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       1568 non-null   object
 1   Year_of_Birth            1568 non-null   int64
 2   Education_Level          1568 non-null   object
 3   Marital_Status           1568 non-null   object
 4   Disposable_Income        1552 non-null   float64
 5   No_of_Kids_in_home       1568 non-null   int64
 6   No_of_Teen_in_home       1568 non-null   int64
 7   Date_Customer            1568 non-null   object
 8   Recency                  1568 non-null   int64
 9   Discounted_Purchases     1568 non-null   int64
 10  WebPurchases             1568 non-null   int64
 11  CatalogPurchases         1568 non-null   int64
 12  StorePurchases           1568 non-null   int64
 13  Amount_on_Wines          1568 non-null   int64
 14  Amount_on_Fruits         1568 non-null   int64
 15  Amount_on_MeatProducts   1568 non-null   int64
 16  Amount_on_FishProducts   1568 non-null   int64
 17  Amount_on_SweetProducts  1568 non-null   int64
 18  Amount_on_GoldProds      1568 non-null   int64
 19  WebVisitsMonth           1568 non-null   int64
 20  Cmp3Accepted             1568 non-null   int64
 21  Cmp4Accepted             1568 non-null   int64
 22  Cmp5Accepted             1568 non-null   int64
 23  Cmp1Accepted             1568 non-null   int64
 24  Cmp2Accepted             1568 non-null   int64
 25  Any_Complain             1568 non-null   int64
 26  Response                 1568 non-null   int64
dtypes: float64(1), int64(22), object(4)
memory usage: 330.9+ KB

In [4]:
vibr.describe(include='all')

,ID,Year_of_Birth,Education_Level,Marital_Status,Disposable_Income,No_of_Kids_in_home,No_of_Teen_in_home,Date_Customer,Recency,Discounted_Purchases,WebPurchases,CatalogPurchases,StorePurchases,Amount_on_Wines,Amount_on_Fruits,Amount_on_MeatProducts,Amount_on_FishProducts,Amount_on_SweetProducts,Amount_on_GoldProds,WebVisitsMonth,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Cmp1Accepted,Cmp2Accepted,Any_Complain,Response
count,1568,1568.000000,1568,1568,1552.000000,1568.000000,1568.000000,1568,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000
unique,1568,NaN,5,8,NaN,NaN,NaN,619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,ID_6HCGURL2,NaN,Graduation,Married,NaN,NaN,NaN,12-05-2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,802,615,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1970.073342,NaN,NaN,62381.186598,0.460459,0.497449,NaN,55.408801,2.292730,4.001276,2.665816,5.703444,303.190051,29.091199,168.376276,37.166454,26.800383,43.739158,5.326531,0.072704,0.072704,0.080357,0.064413,0.012755,0.008291,0.152423
std,NaN,11.920781,NaN,NaN,32089.169563,0.540361,0.544151,NaN,28.788037,1.937544,2.773748,3.043493,3.260553,340.141396,39.565637,233.419980,53.994951,40.857657,51.591557,2.468023,0.259733,0.259733,0.271932,0.245566,0.112252,0.090705,0.359546
min,NaN,1900.000000,NaN,NaN,2076.000000,0.000000,0.000000,NaN,7.000000,0.000000,0.000000,0.000000,0.000000,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,1960.000000,NaN,NaN,41612.400000,0.000000,0.000000,NaN,31.000000,1.000000,2.000000,0.000000,3.000000,27.000000,4.000000,15.000000,3.000000,1.000000,8.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,1971.000000,NaN,NaN,60964.200000,0.000000,0.000000,NaN,56.000000,2.000000,3.000000,2.000000,5.000000,167.000000,11.000000,64.000000,12.000000,8.000000,25.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,1979.000000,NaN,NaN,81493.200000,1.000000,1.000000,NaN,80.000000,3.000000,6.000000,4.000000,8.000000,499.500000,36.000000,232.000000,49.250000,33.000000,56.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,1997.000000,NaN,NaN,799999.200000,2.000000,2.000000,NaN,106.000000,15.000000,27.000000,28.000000,13.000000,1498.000000,202.000000,1725.000000,259.000000,263.000000,362.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
vibr['Disposable_Income']

0        77504.4
1        56784.0
2       103714.8
3        46311.6
4        87486.0
5        41090.4
6        86673.6
7        88711.2
8        35606.4
9        41305.2
10       31473.6
11       82386.0
12       56080.8
13       51103.2
14       49989.6
15       31309.2
16       65763.6
17       76766.4
18       47227.2
19      102582.0
20       36672.0
21       93132.0
22       32940.0
23       38230.8
24       58438.8
25       96822.0
26       70862.4
27       84214.8
28       43108.8
29       71599.2
30      109119.6
31       36999.6
32       72702.0
33       27574.8
34       92756.4
35        2076.0
36       46142.4
37       71150.4
38       28130.4
39       47343.6
40       47906.4
41       71377.2
42       40132.8
43       98996.4
44       55328.4
45      113845.2
46       84715.2
47       36672.0
48       78124.8
49       31150.8
50       85935.6
51       77011.2
52       61544.4
53       43231.2
54      100238.4
55       94717.2
56       45814.8
57       27102.0
58      105716.4
59        9000.0
60       38145.6
61       35712.0
62       73288.8
63       32241.6
64       56284.8
65       61434.0
66       79552.8
67       54820.8
68       31380.0
69       91038.0
70       35178.0
71       61882.8
72       37392.0
73       56307.6
74       75414.0
75      108271.2
76       53522.4
77       15085.2
78       82076.4
79       44874.0
80       58423.2
81       78252.0
82      101887.2
83       95046.0
84       70933.2
85       86479.2
86       36446.4
87       71870.4
88       65631.6
89       93435.6
90       40831.2
91       22714.8
92       80202.0
93       40147.2
94       55066.8
95       53186.4
96       73543.2
97       36626.4
98      108000.0
99       66450.0
100      52861.2
101      74286.0
102      57888.0
103      54910.8
104      81979.2
105      26792.4
106      57813.6
107      93146.4
108      39813.6
109      28515.6
110      63037.2
111      77940.0
112      30211.2
113      11457.6
114      85640.4
115      85951.2
116      26412.0
117      43539.6
118      43561.2
119      51922.8
120      99085.2
121      68520.0
122      30302.4
123      99360.0
124      55707.6
125      46142.4
126      39318.0
127      91838.4
128          NaN
129      53986.8
130      59317.2
131      76816.8
132      82966.8
133      79898.4
134     103012.8
135      56224.8
136      41493.6
137      41256.0
138      53626.8
139      77508.0
140      84214.8
141      21802.8
142      81055.2
143      89121.6
144      50594.4
145     110595.6
146      83115.6
147      26736.0
148     102819.6
149      92924.4
150      92444.4
151      23332.8
152      43356.0
153      56430.0
154      36926.4
155          NaN
156      46569.6
157      40053.6
158      39898.8
159      41464.8
160      48412.8
161      37190.4
162      73870.8
163      62895.6
164      66189.6
165      94370.4
166          NaN
167      41805.6
168      19034.4
169      60016.8
170      27330.0
171      72826.8
172      83552.4
173      97633.2
174      85353.6
175      73416.0
176      81343.2
177      39898.8
178      78037.2
179      32643.6
180      75368.4
181      46489.2
182      60139.2
183      45312.0
184      44137.2
185      78798.0
186      26764.8
187      38760.0
188      47028.0
189       9000.0
190     799999.2
191      66508.8
192      40746.0
193      68058.0
194      96432.0
195      98952.0
196      27088.8
197     116251.2
198      57607.2
199      43995.6
200     109010.4
201      92858.4
202      95511.6
203      58908.0
204      51204.0
205      61642.8
206      46442.4
207      68220.0
208      41220.0
209      83266.8
210      68563.2
211      59565.6
212      87483.6
213      38253.6
214      18378.0
215      42825.6
216      48574.8
217      98314.8
218     100594.8
219      46033.2
220      50778.0
221      78822.0
222      49602.0
223      96403.2
224      34104.0
225      36468.0
226      74395.2
227      95889.6
228      45010.8
229      85712.4
230      78631.2
231      61647.6
232      24589.2
233      21866.4
234      68326.8
235      40436.4
236      78844.8
237      93711.6
238      62798.4
239      43135.2
240      48625.2
241      90333.6
242      63824.4
243      89382.0
244      74400.0
245      50874.0
246      41384.4
247      31468.8
248      50416.8
249      36334.8
250      82566.0
251      93649.2
252      75853.2
253      19206.0
254      22714.8
255      40282.8
256      24670.8
257      79771.2
258      91281.6
259      80902.8
260      81007.2
261      86029.2
262      42844.8
263     116211.6
264      97401.6
265      44881.2
266      63082.8
267      80202.0
268      84855.6
269      24512.4
270      69969.6
271      66520.8
272      93458.4
273      70214.4
274      70178.4
275      78087.6
276      20707.2
277      28393.2
278      25768.8
279      36756.0
280      71841.6
281      53752.8
282      88446.0
283      42956.4
284      89767.2
285      39646.8
286      43245.6
287      77775.6
288          NaN
289      78585.6
290      92432.4
291      83094.0
292      83858.4
293      91083.6
294      45260.4
295      41011.2
296      64383.6
297      41644.8
298      75895.2
299      72664.8
300      35083.2
301      58652.4
302      70700.4
303      54086.4
304      22928.4
305      37179.6
306      48708.0
307      20572.8
308      45836.4
309      47462.4
310      36903.6
311      83916.0
312      42818.4
313      39445.2
314     100612.8
315      51229.2
316      75384.0
317      19983.6
318     110812.8
319      58701.6
320     106944.0
321      31564.8
322      84740.4
323      32520.0
324      51660.0
325     114634.8
326      40297.2
327      64053.6
328      73120.8
329      97633.2
330      71224.8
331      80077.2
332       8202.0
333      35998.8
334      66762.0
335      33087.6
336     113260.8
337     100612.8
338      70420.8
339      55105.2
340      64548.0
341      19497.6
342     188691.6
343      47073.6
344      68155.2
345      80557.2
346      94742.4
347      61044.0
348      86738.4
349      61077.6
350      96169.2
351      60465.6
352      82819.2
353      22495.2
354      97460.4
355      49602.0
356      32706.0
357      21720.0
358      98546.4
359      38288.4
360      67890.0
361      64772.4
362      44750.4
363      43365.6
364      78584.4
365      89100.0
366      65950.8
367      79647.6
368      92397.6
369      32692.8
370      57549.6
371     103244.4
372      90910.8
373      86356.8
374      70874.4
375      44083.2
376      29065.2
377      98154.0
378      22714.8
379      75204.0
380      36757.2
381      12484.8
382     106016.4
383      65628.0
384      46344.0
385      22785.6
386      62628.0
387      76698.0
388      85141.2
389      28243.2
390      17818.8
391      39646.8
392      92811.6
393      49693.2
394      46256.4
395      46092.0
396      82184.4
397     111546.0
398      83246.4
399      78834.0
400      54694.8
401       4827.6
402      19837.2
403      26529.6
404      60870.0
405      98798.4
406      40783.2
407      17755.2
408      78264.0
409      97888.8
410      37662.0
411      66286.8
412      70375.2
413      53160.0
414      73276.8
415      27330.0
416      12294.0
417      78127.2
418      99781.2
419      88424.4
420     108765.6
421      86155.2
422      75790.8
423          NaN
424     100940.4
425      41515.2
426      67503.6
427      64933.2
428      42820.8
429      79878.0
430      32658.0
431     105325.2
432      40154.4
433      86485.2
434      63300.0
435      61348.8
436      82917.6
437      70316.4
438      40863.6
439      84618.0
440      59720.4
441      95528.4
442      50691.6
443     100612.8
444      46371.6
445      68799.6
446      49246.8
447      75326.4
448      65263.2
449      96915.6
450      57369.6
451     111430.8
452      26346.0
453      83706.0
454      27777.6
455      80966.4
456      29240.4
457      25228.8
458      19216.8
459      66300.0
460      61694.4
461      74940.0
462          NaN
463      58684.8
464      64929.6
465      90608.4
466     101035.2
467      34066.8
468      92851.2
469      23302.8
470      77190.0
471      43051.2
472      20787.6
473      42652.8
474      49731.6
475      28172.4
476      38775.6
477      44692.8
478      68509.2
479      59416.8
480      43731.6
481      50602.8
482      37623.6
483      95935.2
484      33506.4
485      63422.4
486      54825.6
487      84679.2
488      32590.8
489      59960.4
490      59406.0
491      47829.6
492      67010.4
493      94282.8
494      26902.8
495     108360.0
496      56966.4
497      50400.0
498      51596.4
499      44148.0
500      91694.4
501      20577.6
502      78682.8
503      56197.2
504      17593.2
505      46033.2
506     103333.2
507      64807.2
508      84045.6
509      36115.2
510      23194.8
511      55004.4
512      67141.2
513      90331.2
514      95511.6
515      22029.6
516      43071.6
517      73597.2
518      91948.8
519      89766.0
520      90928.8
521      57291.6
522      54171.6
523       9000.0
524      39158.4
525      26484.0
526      49767.6
527     101002.8
528      90842.4
529      77410.8
530     108824.4
531      55317.6
532      42213.6
533      29566.8
534      24510.0
535      27160.8
536      94104.0
537      48912.0
538      41685.6
539      65318.4
540      39661.2
541      84765.6
542      75639.6
543      93997.2
544      34461.6
545      18344.4
546      72568.8
547      22428.0
548      64964.4
549      22441.2
550      99004.8
551      43032.0
552          NaN
553      53403.6
554      75847.2
555      33363.6
556      18378.0
557      44305.2
558      68745.6
559      87214.8
560      76664.4
561      86628.0
562          NaN
563      73075.2
564      74624.4
565      89857.2
566      34810.8
567      60326.4
568      73941.6
569      46646.4
570      77295.6
571      69524.4
572      77226.0
573      87560.4
574      22428.0
575      55755.6
576      31975.2
577      56822.4
578      38256.0
579      75015.6
580      22551.6
581      45878.4
582      57420.0
583      95916.0
584      43032.0
585      51252.0
586      27364.8
587      44504.4
588          NaN
589      53250.0
590      48364.8
591      85720.8
592      41011.2
593      54691.2
594      41294.4
595      72856.8
596      23983.2
597      47877.6
598      65037.6
599      73450.8
600      78882.0
601     111632.4
602      71967.6
603      48121.2
604      86757.6
605      69036.0
606      96477.6
607      61844.4
608      95680.8
609      97988.4
610      56533.2
611      80860.8
612      38968.8
613      48826.8
614      77666.4
615      50259.6
616      53917.2
617      25630.8
618      88245.6
619      35328.0
620      81741.6
621      86485.2
622      16468.8
623      70872.0
624      99781.2
625      47877.6
626      42945.6
627      24232.8
628      78822.0
629      73216.8
630      34130.4
631      65628.0
632      96160.8
633      34376.4
634      89445.6
635      19422.0
636      60400.8
637      56410.8
638      22428.0
639      61774.8
640      53055.6
641      90990.0
642          NaN
643      86540.4
644      39456.0
645      53752.8
646      98860.8
647      75744.0
648      55652.4
649      70452.0
650      95302.8
651      87162.0
652      40144.8
653      94424.4
654      99259.2
655      53434.8
656      90831.6
657      50073.6
658      65227.2
659      58915.2
660      39817.2
661      49216.8
662       9000.0
663      55216.8
664      75942.0
665      75566.4
666      92160.0
667      61520.4
668      95763.6
669      43689.6
670      67490.4
671      33984.0
672      99147.6
673      84603.6
674      46308.0
675      93158.4
676      30009.6
677      78379.2
678      99908.4
679      73760.4
680      90339.6
681      55932.0
682      73543.2
683      90932.4
684      32539.2
685          NaN
686      54081.6
687      70264.8
688      26392.8
689      29376.0
690      71521.2
691      56017.2
692      65210.4
693      32520.0
694      66340.8
695     101541.6
696      69560.4
697      92757.6
698      26392.8
699      85785.6
700      48764.4
701      42948.0
702      29619.6
703      82915.2
704      67663.2
705     136480.8
706      45344.4
707      36572.4
708      40514.4
709      26215.2
710      84505.2
711      88137.6
712      35712.0
713      53562.0
714      50497.2
715      52365.6
716      50630.4
717      32110.8
718      76431.6
719      52178.4
720      81055.2
721      58502.4
722      51141.6
723      44336.4
724      45309.6
725      96834.0
726      60601.2
727      62175.6
728      76572.0
729      59617.2
730      84654.0
731      51064.8
732     102831.6
733      36018.0
734      33998.4
735      15912.0
736      59371.2
737      55317.6
738      53305.2
739      51128.4
740      29653.2
741      77655.6
742      97252.8
743      63841.2
744      93942.0
745      42408.0
746      46587.6
747      26654.4
748      36111.6
749      45716.4
750      85924.8
751      83281.2
752      43860.0
753      87171.6
754      92823.6
755      78211.2
756      50967.6
757      76816.8
758      28351.2
759      86004.0
760      55932.0
761      45236.4
762      51624.0
763      28832.4
764     104766.0
765      61693.2
766      74190.0
767      69765.6
768      83881.2
769      65052.0
770      78555.6
771      42918.0
772      28270.8
773      32593.2
774      97560.0
775      47322.0
776      40302.0
777      86475.6
778      13214.4
779      95838.0
780      87561.6
781      94072.8
782      66625.2
783      43371.6
784      48530.4
785      73467.6
786     104634.0
787      93414.0
788      91734.0
789     112084.8
790      30848.4
791      74187.6
792      73072.8
793      98816.4
794      43960.8
795      88140.0
796      36878.4
797      71770.8
798      52531.2
799      76572.0
800      69703.2
801      25538.4
802      49530.0
803      57823.2
804      28497.6
805     100594.8
806      53230.8
807      44740.8
808       6777.6
809      66848.4
810      79650.0
811      37078.8
812      43952.4
813     100396.8
814      86226.0
815      57466.8
816      99639.6
817      61821.6
818     106104.0
819      72716.4
820      93319.2
821      40125.6
822      92570.4
823      70849.2
824      57996.0
825      75458.4
826      96013.2
827      63806.4
828      64311.6
829      27532.8
830      69735.6
831      47592.0
832      31821.6
833      70387.2
834      59295.6
835      60627.6
836      25506.0
837     110040.0
838      35457.6
839      25275.6
840      37395.6
841      83918.4
842      82154.4
843      40165.2
844      36560.4
845      86430.0
846      82966.8
847      33685.2
848     101062.8
849      31970.4
850      30351.6
851      69930.0
852      88027.2
853      53270.4
854      98791.2
855       7872.0
856      41055.6
857      27202.8
858      33796.8
859      33686.4
860      41334.0
861      93319.2
862      97656.0
863          NaN
864      66298.8
865      98486.4
866      67255.2
867      89056.8
868     110184.0
869      89857.2
870      71096.4
871      83642.4
872      33525.6
873          NaN
874      67354.8
875      30531.6
876      89151.6
877      26902.8
878     111039.6
879      45514.8
880      63699.6
881      68065.2
882      61131.6
883      96740.4
884     101802.0
885      52554.0
886      20814.0
887      25074.0
888      58737.6
889      97194.0
890      31784.4
891      75003.6
892      44484.0
893      94099.2
894     100214.4
895      80934.0
896      60536.4
897      78177.6
898      31891.2
899      50914.8
900      80934.0
901      70077.6
902          NaN
903      75061.2
904      61158.0
905      96974.4
906     188575.2
907      44312.4
908      51027.6
909      46293.6
910      27709.2
911      22071.6
912      44078.4
913      91850.4
914      47598.0
915      78330.0
916      60874.8
917      66823.2
918      32690.4
919      99603.6
920      33531.6
921      37796.4
922      46032.0
923      38313.6
924      40354.8
925      62060.4
926      55828.8
927      61875.6
928      84771.6
929      31309.2
930      21225.6
931      84109.2
932      78982.8
933      89659.2
934      49384.8
935      62733.6
936      55572.0
937      51320.4
938      97092.0
939      82434.0
940      74152.8
941     100131.6
942      31788.0
943      75294.0
944      79647.6
945      32179.2
946      29047.2
947      55258.8
948      28173.6
949      76010.4
950     113366.4
951      90152.4
952      43580.4
953      20232.0
954      46268.4
955      37389.6
956      57229.2
957      42386.4
958      28468.8
959      41961.6
960      56126.4
961     105214.8
962      38176.8
963      81928.8
964      42235.2
965      30429.6
966     188308.8
967     102517.2
968     104228.4
969      82022.4
970      44502.0
971      60739.2
972      58999.2
973      73778.4
974      80504.4
975     107632.8
976      31021.2
977      79189.2
978      52531.2
979      48295.2
980      48070.8
981      24156.0
982      82418.4
983      95787.6
984     100604.4
985       9633.6
986      85586.4
987      72276.0
988      65102.4
989      13737.6
990      20950.8
991      79983.6
992      40851.6
993      26010.0
994      96886.8
995      62634.0
996      83840.4
997      79239.6
998      46664.4
999      80823.6
1000     84139.2
1001     69996.0
1002     29320.8
1003     61214.4
1004     68354.4
1005     46797.6
1006     77818.8
1007     20984.4
1008     80367.6
1009     89564.4
1010    107486.4
1011     61578.0
1012     32101.2
1013     42627.6
1014     48708.0
1015     49064.4
1016     68354.4
1017     26715.6
1018     61246.8
1019     79758.0
1020     33108.0
1021     66910.8
1022     67861.2
1023      4202.4
1024     94023.6
1025     49896.0
1026     42949.2
1027     52768.8
1028     96160.8
1029     98816.4
1030     65458.8
1031     52812.0
1032     59541.6
1033     66711.6
1034     65013.6
1035     59976.0
1036     82930.8
1037     51986.4
1038     97142.4
1039     81493.2
1040     44841.6
1041     87393.6
1042     87670.8
1043      9000.0
1044     52588.8
1045     53182.8
1046     30268.8
1047    100233.6
1048     80842.8
1049     40082.4
1050     64611.6
1051     59894.4
1052     95092.8
1053     55263.6
1054     60733.2
1055     81493.2
1056     66620.4
1057     95008.8
1058     89830.8
1059     83371.2
1060     67840.8
1061     78388.8
1062     86047.2
1063     96380.4
1064     66312.0
1065     25270.8
1066     55186.8
1067     74644.8
1068     58118.4
1069     57243.6
1070     97402.8
1071     74473.2
1072     71294.4
1073     56269.2
1074     63844.8
1075     67467.6
1076     98799.6
1077     94975.2
1078      9000.0
1079     18344.4
1080     44740.8
1081     58231.2
1082     88144.8
1083     70328.4
1084     60884.4
1085     48960.0
1086     54171.6
1087     71785.2
1088     47457.6
1089     82386.0
1090     50864.4
1091     46098.0
1092    100548.0
1093     90136.8
1094     27021.6
1095     35373.6
1096     59024.4
1097     64440.0
1098     50872.8
1099     23416.8
1100     39470.4
1101     85640.4
1102     41434.8
1103     78202.8
1104     41788.8
1105     79776.0
1106     90524.4
1107    112548.0
1108     39873.6
1109     41011.2
1110     68130.0
1111     96160.8
1112     63442.8
1113     48936.0
1114     54248.4
1115     27794.4
1116    108296.4
1117     92452.8
1118     72039.6
1119     54068.4
1120     43032.0
1121     72111.6
1122     65296.8
1123    105325.2
1124     44586.0
1125    104400.0
1126     56430.0
1127     56380.8
1128     51196.8
1129     58704.0
1130     38661.6
1131     75848.4
1132     40795.2
1133     36201.6
1134     29858.4
1135     69015.6
1136     75416.4
1137    108918.0
1138     64048.8
1139     76929.6
1140     80455.2
1141     44058.0
1142     49203.6
1143     45309.6
1144     66494.4
1145     26301.6
1146     73533.6
1147     21178.8
1148     48952.8
1149     32962.8
1150     55322.4
1151     63136.8
1152     87528.0
1153    184708.8
1154     39470.4
1155     68509.2
1156     52147.2
1157      9000.0
1158     60733.2
1159     61333.2
1160     29860.8
1161     51402.0
1162     40346.4
1163     41252.4
1164    103629.6
1165     69951.6
1166     63876.0
1167     26920.8
1168     63784.8
1169         NaN
1170     45260.4
1171     66254.4
1172     22773.6
1173     36334.8
1174     67604.4
1175     32288.4

# Dealing with missing values

In [4]:
import numpy as np

mean = 62381
vibr['Disposable_Income'].replace(np.nan, mean, inplace=True)

In [6]:
vibr['Response'].value_counts()

0    1329
1     239
Name: Response, dtype: int64

# Exploration

In [6]:
vibr.groupby(['Education_Level'])['Response'].value_counts(normalize=True)

Education_Level  Response
2n Cycle         0           0.901408
                 1           0.098592
Basic            0           0.973684
                 1           0.026316
Graduation       0           0.856608
                 1           0.143392
Master           0           0.845528
                 1           0.154472
PhD              0           0.791176
                 1           0.208824
Name: Response, dtype: float64

In [8]:
vibr.groupby(['Cmp1Accepted'])['Response'].value_counts(normalize=True)

Cmp1Accepted  Response
0             0           0.880027
              1           0.119973
1             1           0.623762
              0           0.376238
Name: Response, dtype: float64

In [9]:
vibr.groupby(['Cmp2Accepted'])['Response'].value_counts(normalize=True)

Cmp2Accepted  Response
0             0           0.854005
              1           0.145995
1             1           0.650000
              0           0.350000
Name: Response, dtype: float64

In [10]:
vibr.groupby(['Cmp3Accepted'])['Response'].value_counts(normalize=True)

Cmp3Accepted  Response
0             0           0.873453
              1           0.126547
1             0           0.517544
              1           0.482456
Name: Response, dtype: float64

In [11]:
vibr.groupby(['Cmp4Accepted'])['Response'].value_counts(normalize=True)

Cmp4Accepted  Response
0             0           0.867950
              1           0.132050
1             0           0.587719
              1           0.412281
Name: Response, dtype: float64

In [12]:
vibr.groupby(['Cmp5Accepted'])['Response'].value_counts(normalize=True)

Cmp5Accepted  Response
0             0           0.885576
              1           0.114424
1             1           0.587302
              0           0.412698
Name: Response, dtype: float64

In [13]:
vibr.groupby(['Any_Complain'])['Response'].value_counts(normalize=True)

Any_Complain  Response
0             0           0.846945
              1           0.153055
1             0           0.923077
              1           0.076923
Name: Response, dtype: float64

In [4]:
vibr.groupby(['Marital_Status'])['Response'].value_counts(normalize=True)

Marital_Status  Response
Absurd          1           1.000000
Alone           0           0.666667
                1           0.333333
Divorced        0           0.798742
                1           0.201258
Married         0           0.873171
                1           0.126829
Single          0           0.784195
                1           0.215805
Together        0           0.899756
                1           0.100244
Widow           0           0.720000
                1           0.280000
YOLO            0           0.500000
                1           0.500000
Name: Response, dtype: float64

In [5]:
vibr.groupby(['WebVisitsMonth'])['Response'].value_counts(normalize=True)

WebVisitsMonth  Response
0               0           1.000000
1               0           0.801980
                1           0.198020
2               0           0.780000
                1           0.220000
3               0           0.829932
                1           0.170068
4               0           0.863014
                1           0.136986
5               0           0.913043
                1           0.086957
6               0           0.860000
                1           0.140000
7               0           0.886121
                1           0.113879
8               0           0.844828
                1           0.155172
9               0           0.627119
                1           0.372881
10              0           1.000000
13              0           1.000000
14              0           1.000000
17              0           1.000000
19              0           1.000000
20              0           1.000000
Name: Response, dtype: float64

# Feature selection and one hot encoding

In [14]:
vibr1 = vibr[['Marital_Status','Disposable_Income','WebPurchases','CatalogPurchases','StorePurchases','Recency','Amount_on_GoldProds','Cmp1Accepted','Cmp2Accepted','Cmp3Accepted','Cmp4Accepted','Cmp5Accepted','Any_Complain','Education_Level']]
vibr1.head()

,Marital_Status,Disposable_Income,WebPurchases,CatalogPurchases,StorePurchases,Recency,Amount_on_GoldProds,Cmp1Accepted,Cmp2Accepted,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Any_Complain,Education_Level
0,Divorced,77504.4,1,1,4,56,20,0,0,0,0,0,0,Graduation
1,Together,56784.0,5,1,8,17,19,0,0,0,0,0,0,Graduation
2,Single,103714.8,7,4,7,17,37,1,0,0,0,0,0,Graduation
3,Single,46311.6,4,1,3,49,24,0,0,0,0,0,0,2n Cycle
4,Married,87486.0,3,7,9,59,203,1,0,0,0,0,0,Graduation

In [ ]:
vibr2 = vibr[['Marital_Status','Disposable_Income','WebPurchases','CatalogPurchases','StorePurchases','Recency','Amount_on_GoldProds','Cmp1Accepted','Cmp2Accepted','Cmp3Accepted','Cmp4Accepted','Cmp5Accepted','Any_Complain','Education_Level']]
vibr2.head()

In [15]:
vibr1 = pd.concat([vibr1,pd.get_dummies(vibr1['Marital_Status'])], axis=1)
vibr1 = pd.concat([vibr1,pd.get_dummies(vibr1['Education_Level'])], axis=1)
vibr1.drop("Marital_Status", axis = 1, inplace=True)
vibr1.drop("Education_Level", axis = 1, inplace=True)
vibr1.drop("YOLO", axis = 1, inplace=True)
vibr1.drop("Alone", axis = 1, inplace=True)
vibr1.head()

,Disposable_Income,WebPurchases,CatalogPurchases,StorePurchases,Recency,Amount_on_GoldProds,Cmp1Accepted,Cmp2Accepted,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Any_Complain,Absurd,Divorced,Married,Single,Together,Widow,2n Cycle,Basic,Graduation,Master,PhD
0,77504.4,1,1,4,56,20,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
1,56784.0,5,1,8,17,19,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2,103714.8,7,4,7,17,37,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
3,46311.6,4,1,3,49,24,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
4,87486.0,3,7,9,59,203,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0

In [16]:
vibr1.shape

(1568, 23)

In [17]:
y = vibr['Response'].values
y[0:5]

array([0, 0, 1, 0, 0])

In [18]:
X = vibr1
X[0:5]

,Disposable_Income,WebPurchases,CatalogPurchases,StorePurchases,Recency,Amount_on_GoldProds,Cmp1Accepted,Cmp2Accepted,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Any_Complain,Absurd,Divorced,Married,Single,Together,Widow,2n Cycle,Basic,Graduation,Master,PhD
0,77504.4,1,1,4,56,20,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
1,56784.0,5,1,8,17,19,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2,103714.8,7,4,7,17,37,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
3,46311.6,4,1,3,49,24,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
4,87486.0,3,7,9,59,203,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0

# Normalization

In [19]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [20]:
X= preprocessing.StandardScaler().fit(X).transform(X)

# Classification

In [21]:
X_train1, X_test1, y_train1, y_test1 = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train1.shape,  y_train1.shape)
print ('Test set:', X_test1.shape,  y_test1.shape)

Train set: (1254, 23) (1254,)
Test set: (314, 23) (314,)

In [22]:
Ks = 200
mean_acc = np.zeros((Ks-1))
std_acc = np.zeros((Ks-1))

for n in range(1,Ks):
    
     
    MyLady = KNeighborsClassifier(n_neighbors = n).fit(X_train1,y_train1)
    yhat1=MyLady.predict(X_test1)
    mean_acc[n-1] = metrics.accuracy_score(y_test1, yhat1)

    
    std_acc[n-1]=np.std(yhat1==y_test1)/np.sqrt(yhat1.shape[0])

In [23]:
print( "The best accuracy was with", mean_acc.max(), "with k=", mean_acc.argmax()+1)

The best accuracy was with 0.856687898089172 with k= 22

# Dealing with main test data

In [24]:

body = client_02094e32b66a4036b212117f2460105b.get_object(Bucket='dsproject101-donotdelete-pr-ceaqlie47lhea1',Key='DSN 2021 AI Bootcamp Qualification Hackathon Test.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

test = pd.read_csv(body)
test.head()

,ID,Year_of_Birth,Education_Level,Marital_Status,Disposable_Income,No_of_Kids_in_home,No_of_Teen_in_home,Date_Customer,Recency,Discounted_Purchases,WebPurchases,CatalogPurchases,StorePurchases,Amount_on_Wines,Amount_on_Fruits,Amount_on_MeatProducts,Amount_on_FishProducts,Amount_on_SweetProducts,Amount_on_GoldProds,WebVisitsMonth,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Cmp1Accepted,Cmp2Accepted,Any_Complain
0,ID_ZPMABNVX,1954,Graduation,Single,48556.8,0,1,11-01-2013,85,6,8,2,8,429,20,118,7,23,41,8,0,0,0,0,0,0
1,ID_WFE91NAA,1961,Graduation,Widow,57499.2,0,1,22-11-2012,79,5,7,4,6,510,3,26,0,0,75,6,0,1,0,0,0,0
2,ID_JV11RBRK,1973,Basic,Married,17025.6,0,0,28-02-2013,47,1,2,0,4,7,10,11,16,12,27,6,0,0,0,0,0,0
3,ID_6B7SVKY9,1970,Graduation,Together,91983.6,0,0,16-08-2013,98,1,4,7,11,741,66,946,219,189,126,2,0,0,1,1,0,0
4,ID_GOVUZ545,1959,Graduation,Together,78235.2,0,2,25-07-2013,41,2,7,6,11,748,22,181,12,0,200,5,1,0,0,0,0,0

In [25]:
test1 = test[['Marital_Status','Disposable_Income','WebPurchases','CatalogPurchases','StorePurchases','Recency','Amount_on_GoldProds','Cmp1Accepted','Cmp2Accepted','Cmp3Accepted','Cmp4Accepted','Cmp5Accepted','Any_Complain','Education_Level']]
test1.shape

(672, 14)

In [29]:
#test1 = pd.concat([test1,pd.get_dummies(test1['Marital_Status'])], axis=1)
#test1 = pd.concat([test1,pd.get_dummies(test1['Education_Level'])], axis=1)
#test1.drop("Marital_Status", axis = 1, inplace=True)
#test1.drop("Education_Level", axis = 1, inplace=True)
test1.shape

(672, 23)

In [32]:
#mean = 62381
test1['Disposable_Income'].replace(np.nan, mean, inplace=True)

In [33]:
XX = test1
XX= preprocessing.StandardScaler().fit(XX).transform(XX)

# Predicting main test data

In [34]:
MyLady2 = KNeighborsClassifier(n_neighbors = 22).fit(X,y)
yhat22=MyLady2.predict(XX)

In [39]:
MyLady3 = KNeighborsClassifier(n_neighbors = 39).fit(X,y)
yhat33=MyLady2.predict(XX)

In [ ]:
MyLady1 = KNeighborsClassifier(n_neighbors = 22).fit(X_train1,y_train1)
yhat11=MyLady1.predict(XX)

In [35]:
# The code was removed by Watson Studio for sharing.

In [37]:
testpred = {'ID': test['ID'], 'target': yhat22}
testpred = pd.DataFrame(testpred)
testpred.head(30)

             ID  target
0   ID_ZPMABNVX       0
1   ID_WFE91NAA       0
2   ID_JV11RBRK       0
3   ID_6B7SVKY9       0
4   ID_GOVUZ545       0
5   ID_A3SFW973       0
6   ID_HERGG0GD       0
7   ID_S36UV4BY       0
8   ID_9E10P1ZZ       0
9   ID_2840OCS5       0
10  ID_JCTOSHNK       0
11  ID_9LLVM41O       0
12  ID_TDCG3QVS       0
13  ID_2RE3UL3M       0
14  ID_62X1U1Q9       0
15  ID_79N73FHZ       0
16  ID_CUSB2F0K       0
17  ID_9EAC9BLH       0
18  ID_KQNSDF1S       0
19  ID_30PH2BQB       0
20  ID_1ROZENIZ       0
21  ID_14DP6I2K       0
22  ID_YBNSBULG       0
23  ID_EN6J3AN0       1
24  ID_YLNY205A       0
25  ID_JN69O071       1
26  ID_HMQNRSKW       0
27  ID_94W19YVD       0
28  ID_3QFCADD4       0
29  ID_7SQGAJEV       0

In [40]:
testpred1 = {'ID': test['ID'], 'target': yhat33}
testpred1 = pd.DataFrame(testpred1)
testpred.head()

            ID  target
0  ID_ZPMABNVX       0
1  ID_WFE91NAA       0
2  ID_JV11RBRK       0
3  ID_6B7SVKY9       0
4  ID_GOVUZ545       0

In [38]:
project.save_data(file_name = "Hack3.csv",data = testpred.to_csv(index=False))

{'file_name': 'Hack3.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'dsproject101-donotdelete-pr-ceaqlie47lhea1',
 'asset_id': 'fa702510-0f8b-47e8-b18c-01563d5bbd5e'}

In [41]:
project.save_data(file_name = "Hack4.csv",data = testpred1.to_csv(index=False))

{'file_name': 'Hack4.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'dsproject101-donotdelete-pr-ceaqlie47lhea1',
 'asset_id': '3a25d5b0-c5a7-4e6d-811d-d2d0f287f281'}